.navbar{
position:fixed;
top:0;
left:0;
width:100%;
height:90px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 55px;
background:rgba(8,8,8,.72);
backdrop-filter:blur(20px);
-webkit-backdrop-filter:blur(20px);
border-bottom:1px solid rgba(212,175,55,.18);
z-index:9999;
transition:.4s ease;
}

.navbar.scrolled{
background:rgba(5,5,5,.95);
backdrop-filter:blur(25px);
box-shadow:0 12px 35px rgba(0,0,0,.35);
}


/* LOGO */

.logo{
display:flex;
align-items:center;
height:90px;
cursor:pointer;
user-select:none;
transition:.35s ease;
}

.logo:hover{
transform:translateY(-2px);
}

.brand-logo{
width:200px;
height:auto;
max-height:58px;
object-fit:contain;
display:block;
transition:.35s ease;
}


/* NAV LINKS */

.nav-links{
display:flex;
align-items:center;
gap:42px;
}

.nav-links a{
position:relative;
text-decoration:none;
color:#fff;
font-size:15px;
font-weight:600;
letter-spacing:1px;
transition:.3s ease;
}

.nav-links a:hover{
color:#D4AF37;
}

.nav-links a::after{
content:"";
position:absolute;
left:50%;
bottom:-8px;
transform:translateX(-50%);
width:0;
height:2px;
background:#D4AF37;
transition:.35s ease;
}

.nav-links a:hover::after{
width:100%;
}


/* CONNECT BUTTON */

.nav-btn{
padding:15px 32px;
border-radius:40px;
border:1px solid #E3B08A;
background:linear-gradient(
135deg,
rgba(18,18,18,.95),
rgba(8,8,8,.98)
);
color:#E7C18D;
font-weight:700;
font-size:14px;
cursor:pointer;
transition:.35s ease;
box-shadow:
0 0 12px rgba(227,176,138,.15),
0 0 20px rgba(212,175,55,.08);
}

.nav-btn:hover{
background:linear-gradient(
135deg,
#D4AF37,
#E3B08A,
#C98A6A
);
border-color:#E3B08A;
color:#111;
transform:translateY(-2px);
box-shadow:
0 0 18px rgba(227,176,138,.35),
0 0 30px rgba(212,175,55,.25);
}
/* MENU */

.menu-btn{
display:none;
font-size:32px;
color:#D4AF37;
cursor:pointer;
}



/* TABLET */

@media(max-width:992px){

.navbar{
height:85px;
padding:0 25px;
}

.logo{
height:85px;
}

.brand-logo{
width:175px;
max-height:52px;
}

.nav-btn{
display:none;
}

.menu-btn{
display:block;
}

.nav-links{
position:fixed;
top:85px;
right:-100%;
width:280px;
height:calc(100vh - 85px);
display:flex;
flex-direction:column;
align-items:flex-start;
gap:30px;
padding:45px 30px;
background:#090909;
border-left:1px solid rgba(212,175,55,.15);
transition:.4s ease;
}

.nav-links.active{
right:0;
}

}



/* MOBILE */

@media(max-width:768px){

.navbar{
height:80px;
padding:0 18px;
}

.logo{
height:80px;
}

.brand-logo{
width:155px;
max-height:48px;
}

.nav-links{
top:80px;
width:100%;
height:calc(100vh - 80px);
padding:40px 25px;
gap:28px;
}

.nav-links a{
font-size:16px;
}

.menu-btn{
font-size:30px;
}

}



/* SMALL MOBILE */

@media(max-width:480px){

.navbar{
padding:0 15px;
}

.brand-logo{
width:140px;
max-height:42px;
}

.menu-btn{
font-size:28px;
}

}